{% extends "szablon.html" %}

{% block tytul %}Twoja przychodnia-Dodaj Recepte{% endblock %}

{% block zawartosc %}
<meta charset="UTF-8">
<h1 class="header-logotype2 text-center p-3">Nowa recepta</h1>

<div class="container">
    <form class="justyna-form" method="post" novalidate>
        {% csrf_token %}
            {{ form.as_p }}
        <div class="w-75 mb-3 d-flex flex-column mx-auto">
            {% for ilosc in ilosci %}
                <div class="d-flex justify-content-between mb-2 gap-4 align-items-center">
                    {{ilosc}}
                </div>
            {% endfor %}
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn justyna-button-color">Wyślij</button>
            <button type="reset" class="btn btn-secondary">Resetuj</button>
        </div>
    </form>
</div>
{% endblock %}