<meta charset="UTF-8">
<body>
<h1> Twoja przychodnia</h1>
<ul>
    <li><a href="dodaj_lekarza/">Dodaj lekarza</a></li>
    <li><a href="wyswietl_lekarza/">Pokaż lekarzy</a></li>
    <li><a href="dodaj_pacjenta/">Dodaj pacjenta</a></li>
    <li><a href="wyswietl_pacjenta/">Pokaż pacjentów</a></li>
    <li><a href="dodaj_recepte/">Dodaj recepte</a></li>
    <li><a href="wyswietl_recepte/">Pokaż recepty</a></li>
    <li><a href="dodaj_lek/">Dodaj lek</a></li>
    <li><a href="wyswietl_lek/">Pokaż lek</a></li>
</ul>
</body>
</html>