{% extends "szablon.html" %}

{% block tytul %}Twoja przychodnia-Wyświetl Recepty{% endblock %}

{% block zawartosc %}
<meta charset="UTF-8">

<div class="container">
    <h1 class="header-logotype2 text-center p-3">Lista leków</h1>

        <table class="table table-bordered justyna-table text-center">
            <tr>
                <th>LP</th>
                <th>ID</th>
                <th>NAZWA</th>
                <th>SUBSTANCJA CZYNNA</th>
                <th>CENA</th>
                <th>USUŃ</th>
            </tr>
            {% for lek in leki_na_stronie %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ lek.id }}</td>
                    <td>{{ lek.nazwa }}</td>
                    <td>{{ lek.substancja_czynna }}</td>
                    <td>{{ lek.cena }}</td>
                    <td><a href="usun/{{ lek.id }}">Usuń</a></td>
                </tr>
            {% endfor %}
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% if leki_na_stronie.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">&laquo Pierwsza</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ leki_na_stronie.previous_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Poprzednia</a></li>
            {% endif %}

                <li class="page-item disabled"><a class="page-link" href="#">Strona {{ leki_na_stronie.number }} z {{ leki_na_stronie.paginator.num_pages }}</a></li>


            {% if leki_na_stronie.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ leki_na_stronie.next_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Następna</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ leki_na_stronie.paginator.num_pages }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Ostatnia &raquo</a></li>l
            {% endif %}

          </ul>
        </nav>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'zalacz_plik' %}"  class="btn justyna-button-color-second">Importuj z CSV</a>
            <a href="{% url 'export_leki' %}"  class="btn justyna-button-color-second">Eksportuj do CSV</a>
        </div>

</div>
{% endblock %}