{% extends "szablon.html" %}

{% block tytul %}Twoja przychodnia-Wyświetl Pacjentów{% endblock %}

{% block zawartosc %}
<meta charset="UTF-8">
<div class="container">
    <h1 class="header-logotype2 text-center p-3">Lista pacjentów</h1>

        <table class="table table-bordered justyna-table text-center">
            <tr>
                <th>LP</th>
                <th>ID</th>
                <th>IMIE I NAZWISKO</th>
                <th>PŁEĆ</th>
                <th>DATA URODZENIA</th>
                <th>PESEL</th>
                <th>NUMER TELEFONU</th>
                <th>EMAIL</th>
                <th>USUŃ</th>
            </tr>

            {% for pacjent in pacjenci_na_stronie %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pacjent.id }}</td>
                    <td>{{ pacjent.imie_nazwisko }}</td>
                    <td>{{ pacjent.plec }}</td>
                    <td>{{ pacjent.data_urodzenia }}</td>
                    <td>{{ pacjent.pesel }}</td>
                    <td>{{ pacjent.numer_telefonu }}</td>
                    <td>{{ pacjent.email}}</td>
                    <td><a href="usun/{{ pacjent.id }}">Usuń</a></td>
                </tr>
            {% endfor %}
        </table>


        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% if pacjenci_na_stronie.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">&laquo Pierwsza</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pacjenci_na_stronie.previous_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Poprzednia</a></li>
            {% endif %}

                <li class="page-item disabled"><a class="page-link" href="#">Strona {{ pacjenci_na_stronie.number }} z {{ pacjenci_na_stronie.paginator.num_pages }}</a></li>


            {% if pacjenci_na_stronie.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ pacjenci_na_stronie.next_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Następna</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ pacjenci_na_stronie.paginator.num_pages }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Ostatnia &raquo</a></li>l
            {% endif %}

          </ul>
        </nav>


        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'filtruj_pacjenta' %}"  class="btn justyna-button-color-second">Filtruj</a>
            <a href="{% url 'export_pacjenci' %}"  class="btn justyna-button-color-second">Eksportuj do CSV</a>
        </div>
</div>
{% endblock %}