{% extends "szablon.html" %}
{% load static %}


{% block tytul %}Twoja przychodnia-Wyświetl Recepty{% endblock %}
<link href="{% static 'main.css' %}" rel="stylesheet">
{% block zawartosc %}
<meta charset="UTF-8">

<div class="container">
    <h1 class="header-logotype2 text-center p-3">Lista recept</h1>

    <table class="table table-bordered justyna-table text-center">
        <tr>
            <th>LP</th>
            <th>ID</th>
            <th>LEK</th>
            <th>DATA</th>
            <th>PACJENT</th>
            <th>LEKARZ</th>
            <th>USUŃ</th>
        </tr>

        {% for recepta in recepty_na_stronie %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ recepta.id }}</td>
                <td>
                    {% for ilosc in recepta.iloscleku_set.all %}
                        {{ ilosc.lek.nazwa }} : {{ ilosc.ilosc }} opakowania | dawkowanie: {{ ilosc.dawkowanie }} <br>
                    {% endfor %}
                </td>
                <td>{{ recepta.data }}</td>
                <td>{{ recepta.pacjent.imie_nazwisko}}</td>
                <td>{{ recepta.lekarz.imie_nazwisko }}</td>
                <td><a href="usun/{{ recepta.id }}">Usuń</a></td>
            </tr>
        {% endfor %}
    </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% if recepty_na_stronie.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">&laquo Pierwsza</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ recepty_na_stronie.previous_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Poprzednia</a></li>
            {% endif %}

                <li class="page-item disabled"><a class="page-link" href="#">Strona {{ recepty_na_stronie.number }} z {{ recepty_na_stronie.paginator.num_pages }}</a></li>


            {% if recepty_na_stronie.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ recepty_na_stronie.next_page_number }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Następna</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ recepty_na_stronie.paginator.num_pages }}{% if filter_by and phrase %}&filterBy={{ filter_by }}&phrase={{ phrase }}{% endif %}">Ostatnia &raquo</a></li>l
            {% endif %}

          </ul>
        </nav>
</div>

{% endblock %}