{% extends "szablon.html" %}
{% load static %}


{% block tytul %}Twoja przychodnia-Wyświetl Recepty{% endblock %}
<link href="{% static 'main.css' %}" rel="stylesheet">
{% block zawartosc %}
<meta charset="UTF-8">

<div class="container">
    <h1 class="header-logotype2 text-center p-3">Lista recept</h1>

    <table class="table table-bordered justyna-table text-center">
        <tr>
            <th>LP</th>
            <th>ID</th>
            <th>LEK</th>
            <th>DATA</th>
            <th>PACJENT</th>
            <th>LEKARZ</th>
            <th>ZALECENIE</th>
            <th>USUŃ</th>
        </tr>

        {% for recepta in recepty %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ recepta.id }}</td>
                <td>
                    {% for lek in recepta.lek.all %}
                        {{ lek.nazwa }}<br>
                    {% endfor %}
                </td>
                <td>{{ recepta.data }}</td>
                <td>{{ recepta.pacjent.imie_nazwisko}}</td>
                <td>{{ recepta.lekarz.imie_nazwisko }}</td>
                <td>{{ recepta.zalecenie }}</td>
                <td><a href="usun/{{ recepta.id }}">Usuń</a></td>
            </tr>
        {% endfor %}
    </table>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="{% url 'export_recepty' %}"  class="btn justyna-button-color-second">Eksportuj do CSV</a>
        </div>
</div>

{% endblock %}